---
import { getCollection, render } from "astro:content";
import PageItem from "../../components/PageItem.astro";
import Tag from "../../components/Tag.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const guides = await getCollection("guides");
	return guides.map((guide) => ({
		params: { id: guide.id },
		props: { guide },
	}));
}

const { guide } = Astro.props;
const { Content } = await render(guide);

const docs = await getCollection("docs", (doc) =>
	doc.data.guides.some(({ id }) => id === guide.id)
);
---

<Layout title={guide.data.title}>
	<h1>{guide.data.title}</h1>
	<div class="flex gap-2 flex-wrap">
		{guide.data.stack.map((stack) => <Tag text={stack} />)}
	</div>
	<Content />
	<h2>Docs</h2>
	<div class="flex flex-col gap-2">
		{
			docs.map((doc) => (
				<PageItem href={`/docs/${doc.id}`} icon="Docs" title={doc.data.title} />
			))
		}
	</div>
</Layout>
