---
import { getCollection } from "astro:content";
import PageItem from "../components/PageItem.astro";
import Layout from "../layouts/Layout.astro";
const docs = await getCollection("docs");
const projects = await getCollection("projects");
const guides = await getCollection("guides");
---

<Layout>
	<h2>Projects</h2>
	<p>See all my software projects, templates and games.</p>
	<div class="flex flex-col gap-2">
		{
			projects
				.sort((a, b) => {
					const categories = ["Software", "Games", "Notion"];
					return (
						categories.indexOf(a.data.category) - categories.indexOf(b.data.category)
					);
				})
				.map((project) => (
					<PageItem
						href={`/projects/${project.id}`}
						icon={project.data.category}
						title={project.data.title}
						description={project.data.description}
					/>
				))
		}
	</div>
	<h2>Docs</h2>
	<p>Information on various software topics.</p>
	<div class="flex flex-col gap-2">
		{
			docs.map((doc) => (
				<PageItem href={`/docs/${doc.id}`} icon="Docs" title={doc.data.title} />
			))
		}
	</div>
	<h2>Guides</h2>
	<p>Detailed guides and code samples.</p>
	<div class="flex flex-col gap-2">
		{
			guides.map((guide) => (
				<PageItem
					href={`/guides/${guide.id}`}
					icon="Guides"
					title={guide.data.title}
					tags={guide.data.stack}
				/>
			))
		}
	</div>
</Layout>
