---
import { Icon } from "astro-icon/components";
import Layout from "../layout/Layout.astro";

const notionTemplates = [
  {
    title: "Task Manager",
    description:
      "Simple task manager with projects, tasks, and custom views like inbox, calendar, and today. Use it as a starting point for personal or work tasks.",
    link: "https://billyhawkes.notion.site/Task-Manager-Template-f3ef5c32bdfd427cbc7be499944b1db5?pvs=4",
  },
  {
    title: "Lift Tracker",
    description:
      "Simple tracker that allows you to track each lift and calculates your 1rm and relative strength",
    link: "https://billyhawkes.notion.site/12e2c72939984be999154856ab3d6bab?v=9c2814468c0147379dde925ad1f2ce5f&pvs=4",
  },
];

const projects = [
  {
    title: "RecordScratch",
    description:
      "Music-rating and social hub. Find new music, rate your recent listens, and connect with fellow music enthusiasts.",
    link: "https://recordscratch.app",
    github: "https://github.com/hackthebois/RecordScratch",
  },
  {
    title: "Drunk Knight",
    description:
      "A party game where players create cards with various challenges on the website, and if they fail to complete a challenge, they must take a drink.",
    link: "https://drunkknight.com",
    github: "https://github.com/hackthebois/drunk-knight",
  },
];
---

<Layout title="Billy Hawkes">
  <main
    class="min-h-screen bg-zinc-900 w-screen flex flex-col gap-8 justify-center items-center text-white p-4 sm:p-8"
  >
    <h1 class="text-5xl sm:text-8xl font-medium">Billy Hawkes</h1>
    <div class="h-1 rounded w-20 bg-white"></div>
    <div class="flex gap-4">
      <a href={`${import.meta.env.PUBLIC_GITHUB}`} target="_blank">
        <Icon name="mdi:github" size={40} />
      </a>
      <a href={`${import.meta.env.PUBLIC_TWITTER}`} target="_blank">
        <Icon name="mdi:twitter" size={40} />
      </a>
      <a href={`${import.meta.env.PUBLIC_LINKEDIN}`} target="_blank">
        <Icon name="mdi:linkedin" size={40} />
      </a>
    </div>
    <h3 class="text-gray-300 tracking-widest font-light">PROJECTS</h3>
    <div class="gap-4 flex flex-wrap justify-center">
      {
        projects.map((project) => (
          <div class="max-w-[300px] border border-[#ccc] p-4 rounded flex flex-col items-start gap-4">
            <p class="font-bold">{project.title}</p>
            <p class="text-sm text-gray-300">{project.description}</p>
            <div class="flex gap-3">
              <a
                href={project.link}
                target="_blank"
                class="bg-white flex items-center text-gray-600 rounded h-8 px-4 text-sm font-medium"
              >
                Visit
              </a>
              <a
                href={project.github}
                target="_blank"
                class="bg-white flex items-center text-gray-600 rounded h-8 px-4 text-sm font-medium"
              >
                Github
              </a>
            </div>
          </div>
        ))
      }
    </div>
    <h3 class="text-gray-300 tracking-widest font-light">NOTION TEMPLATES</h3>
    <div class="gap-4 flex flex-wrap justify-center">
      {
        notionTemplates.map((template) => (
          <a
            class="max-w-[300px] border border-[#ccc] p-4 rounded flex flex-col items-start gap-4"
            href={template.link}
            target="_blank"
          >
            <p class="font-bold">{template.title}</p>
            <p class="text-sm text-gray-300">{template.description}</p>
            <button class="bg-white flex items-center text-gray-600 rounded h-8 px-4 text-sm font-medium">
              View on Notion
            </button>
          </a>
        ))
      }
    </div>
  </main>
</Layout>
