---
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	return projects.map((project) => ({
		params: { id: project.id },
		props: { project },
	}));
}
const { project } = Astro.props;
const { Content } = await render(project);

const links: {
	label: string;
	href: string;
}[] = [];
if (project.data.site) {
	links.push({
		label: "View Site",
		href: project.data.site,
	});
}
if (project.data.github) {
	links.push({
		label: "Github",
		href: project.data.github,
	});
}
if (project.data.ios) {
	links.push({
		label: "App Store",
		href: project.data.ios,
	});
}
if (project.data.android) {
	links.push({
		label: "Google Play",
		href: project.data.android,
	});
}

---

<Layout title={project.data.title}>
	{
		project.data.cover && (
			<Image
				src={project.data.cover}
				alt={project.data.title}
				width={project.data.cover.width}
				height={project.data.cover.height}
				class="border border-zinc-800"
			/>
		)
	}
	<h1>{project.data.title}</h1>
	<p class="text-zinc-300">{project.data.description}</p>
	<div class="flex gap-2 not-prose">
		{links.map((link) => (
			<a
				href={link.href}
				target="_blank"
				class="border border-zinc-800 px-4 h-10 flex items-center"
			>
				{link.label}
			</a>
		))}
	</div>
	<div class="my-8"></div>
	<Content />
</Layout>
